.container {
    text-align: left;
    padding: 2px 16px;
    background: #4BC2C5;
    color: rgb(110, 121, 126);
    font-family: fantasy;
    max-width: 400px;
    min-height: 200px;
    margin: 2px;
}